# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# dependencies
node_modules/
server/node_modules/

# Puppeteer ships its own Chromium—ignore it
**/.local-chromium/

# optional: if you ever have .dlls, .exe, etc., ignore all binaries by extension
*.dll
*.exe

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
